{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/entrance.css' %}">
        <title>aoyamafes_entrance</title>
    </head>
    <body>
        <div>
            <h1>青山祭展示作品 AIアプリ</h1>
            <p>開発者：青学/理工/経シス/2年 NaRa</p>
        </div>

        <div>
            <h2><a href="score/">青学合格判定予測AI</a></h2>
            <p>学力とあまり関係ない情報を基に、あなたの青学合格判定を予測します！</p>
        </div>

        <div>
            <h2><a href="rent/">下宿先賃料予測AI</a></h2>
            <p>お好みの物件情報を基に、あなたが青学に通学するための下宿先の賃料を予測します！</p>
        </div>

        <div>
            <h2><a href="travel/">卒業旅行費予測AI</a></h2>
            <p>卒業旅行に行きたい旅行プランを基に、あなたの卒業旅行にかかる費用を予測します！</p>
        </div>

        <br><br>
        <a href='https://forms.gle/VFCdQeDEH2gAtPrd6'>このWebアプリの感想を教えて下さい♪(この文字列をクリック)</a>

        <br><br><br><br><br><br><br><br><br>
        来場者数カウンター(クリックすると外部サイトに飛びますので、触らないようにお願いいたします)
        <nobr><table border="0" cellspacing="0" cellpadding="0"><tbody><tr><td><a href="https://www.free-counter.jp/"><img src="https://www.f-counter.net/ani1/46/1632387473/" alt="カウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td>
        <td><a href="https://www.free-counter.jp/"><img src="https://www.f-counter.net/ani2/46/1632387473/" alt="カウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></td></tr></tbody></table></nobr>
    </body>
</html>