<html>
    <head>
        <title>aoyamafes_entrance</title>
    </head>
    <body>
        <div>
            <h1>青山祭展示作品 AIアプリ</h1>
            <p>開発者：青学/理工/経シス/2年 奈良駿佑</p>
        </div>

        <div>
            <h2><a href="score/">青学合格判定予測AI</a></h2>
            <p>学力とあまり関係ない情報だけで、あなたの青学合格判定を予測します！</p>
        </div>

        <div>
            <h2><a href="rent/">下宿先賃料予測AI</a></h2>
            <p>お好みの物件情報を基に、青学に通学するための下宿先の賃料を予測します！</p>
        </div>

        <div>
            <h2><a href="travel/">Coming Soon...</a></h2>
            <p>お楽しみに！</p>
        </div>
    </body>
</html>