{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/entrance_css.css' %}">
        <title>aoyamafes_entrance</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th colspan="2">
                        <p class="title">青山祭展示作品</p>
                        <h1><span class="title1">Ａ</span><span class="title2">Ｉ</span><span class="title6">W</span><span class="title7">e</span><span class="title8">b</span><span class="title3">Ａ</span><span class="title4">ｐ</span><span class="title5">ｐ</span><span class="title4">ｓ</span></h1>
                        <p class="developer">Created by: Nara Shunsuke</p>
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="lu">
                        <h3 class="app"><a href="score/"><font size="7">青学合格判定予測AI</font></a></h2>
                        <p class="white">学力とあまり関係無い情報に基づき、青学合格判定を予測します！</p>
                    </td>

                    <td class="ru">
                        <h2 class="black"><a href="rent/"><font size="7">下宿先賃料予測AI</font></a></h2>
                        <p class="black">お好みの物件情報に基づき、<br>青学に通学するための下宿先賃料を予測します！</p>
                    </td>
                </tr>

                <tr>      
                    <td class="ld">
                        <h2 class="app"><a href="travel/"><font size="7">卒業旅行費予測AI</font></a></h2>
                        <p class="black">お好みの卒業旅行プランに基づき、卒業旅行の費用を予測します！</p>                        
                    </td>

                    <td class="rd">
                        <a class="white" href='https://forms.gle/VFCdQeDEH2gAtPrd6'><font size="4">このWebアプリの感想を教えて下さい♪(この文字列をクリック)</font></a>
                        <br><br>
                        累計来場者数カウンター
                        <br>
                        <a href="https://www.free-counter.jp/"><img src="https://www.f-counter.net/ani1/46/1632387473/" alt="カウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"><a href="https://www.free-counter.jp/"><img src="https://www.f-counter.net/ani2/46/1632387473/" alt="カウンター" border="0" style="margin:0px; padding:0px; border:0px; vertical-align:bottom"></a></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>