{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/detail_css.css' %}">
        <title>aoyamafes_rent_detail</title>
    </head>

    <body>
        <div>
            <h1 class="title">下宿先賃料予測AIの詳細</h1>
            <p>開発者：青学/理工/経シス/2年 NaRa</p>
        </div>

        <br><br><br>

        <div>
            <table>
                <tbody>
                    <td>
                        <p class="sentence">
                            皆さんこんにちは。NaRa Shunsukeです。<br>
恐らく青学合格判定予測AIの方から遊んでくれた人が多いと思うので、「AIとは何か」の説明は省きますね。おまえらのように私が意図した順番でアクセスできぬ輩は本来情報なんて夢のまた夢・・・・それでも手に入れたい・・・・・・どうしても手に入れたい・・・・・・となったら・・・・これはもう・・・・前述のAIを遊んで詳細ページを見る(か、ググる)以外ない・・・・！その代わり、スクレイピングについて説明します。<br>
このAIは、実は自分が初めて作ったやつです。自分は元々人工知能に興味があって、Pythonというプログラミング言語を2Dゲームを作りながら勉強していました(今思えば、これは失敗だったなと思います。サクッと基本文法をさらってからすぐにAI作成に取り掛かれば良かった…)。AI作りを触ったのは今年の4月からで、ふと目にしたスクレイピング(Webサイト等からデータをとる技術のこと)の動画を見て、面白そうだから取り組んだ事から始まりました。苦戦しつつも無事にスクレイピングでき、新しい技術を習得した達成感と共に、手元に保存したデータが残りました。そこでふと思いました。「このデータでAI作れるんじゃね？」と。<br>
早速取り掛かりました。予測対象については、面白さに加えて予測の役立ち度も考え、賃料にしました(まあ、今の所これが役に立ったことなんてないですが)。皆さんが入力した様に、変数も少なく、データを整える作業も楽でした。AI作成入門と言えそうですね。自分が自作AI作りのhow toを教える時、題材にしようと思います。初めてだったのでデータを数値に変換する処理を施しただけで、そのまま学習させました。あ、学習アルゴリズムはGBTD(Gradient Boosting Decision Tree)というものを使いました。Kaggleという世界最大の機械学習コンペティションプラットフォームを使った事がある人ならご存知の通り、とても精度/使い勝手の良いアルゴリズムですね(ちなみに自分はKaggleやってません。一度だけ手を出したのですが、何か自分には合いませんでした…でもデータ収集から自分でやってモデリングするのは好きなので、相性でしょうね)。そうこうしている内に完成しました。もう精度の評価値とかは覚えてないんですが、とにかく嬉しかった思い出があります。理論はともかく、初めて動くものを構築できたわけですから。そりゃ嬉しいです。<br>
というわけで、作ってあるものをそのままWebアプリに…してません！ここまで読んでくれた人ならお分かりでしょうが、これはただ練習用に作ってみただけのやつです。予測できる地域も相模原だけだし、そもそもデータ数が少なすぎる！(確か100件位だった笑) なので、今回のWebアプリでは、来年青学生になる受験生向けの作品であるという事を考慮し、相模原/渋谷付近のデータを再度スクレイピングして、モデリングし直しています。データ数も大幅に増量して(約10万件)、データ前処理のやり方も改善した結果、精度はかなり良くなりました。こうして、さっき皆さんが遊んでくれた作品が出来上がったわけですね。<br>
…と言いたいんですが、Webアプリにする段階で問題が発生しました。自分はPythonanywhereというサービスを用いてサイトを公開している訳なんですが、GB TDを入れようとするとそこで使える無料データベースの容量を大幅に超えてしまう事が明らかになりました(確かデータベースの容量が512MBで、GBTDの容量が800MB笑)。なので渋々LightGBMという別の種類のブースティング木アルゴリズムを採用し、作り直しました。まあこっちの方が軽量かつ精度もそんなに落ちませんでした。最終的なスコアはMAE: 0.79、RMSE: 2.01なので、大体1予測あたり8000円程度のズレがあるという認識ですね。<br>
ところで、このAIを作成する為に用いたデータは、SUUMO様のサイトからスクレイピングした物を使用しています。勝手にデータを取ってしまっていいのか、と思われるでしょうが、スクレイピング自体に違法性はありません。ただ、著作権法や種々の規約には十分に気をつける必要があります。まず、著作権ですが、(私が調べた限りだと)<br>
①データ取得元の利益を妨害していないか<br>
②1分間のアクセス（スピード）がサーバーの負担にならないようにWebサイトをスクレイピングしているか<br>
③スクレイピングしたWebデータを直接Webサイトに掲載していないか<br>
④スクレイピングするWebサイトがアクセス制限をしていないか<br>
⑤会員限定で閲覧できるWebサイトの場合、会員規約に沿ったスクレイピングか
<br>
⑥データの利用目的は適切か<br>
の6つを満たせば大丈夫そうです。<br>
まず、①~⑤まではキッチリ守ってます。気になるのは⑥ですが、今回私は機械学習に使うという目的でスクレイピングを行いました。これは、著作権法的に大丈夫だそうです。間違っていたら指摘してください。秒でこのアプリ閉鎖いたします。<br>
次に、種々の規約についてですが、SUUMO様の利用規約でスクレイピングを禁止していないか等ですね。こちらも全て確認して、禁止事項に触れていないことを確認しております。自分がこのアプリをネット上で公開した事で金銭は一切入ってきてないので営利目的でもないですし、予測結果を投げるだけなら利益を妨害しているとも考えにくいです。なので、Webアプリにしても大丈夫だと思います。多分。<br>
こうして懸念事項も解決し(?)、安心して公開出来ました。でも、心残りがあります。皆さんも違和感を感じたでしょうが、相模原キャンパスと青山キャンパスで選択肢を分ける設問で、同じプルダウンに両方の選択肢を入れてしまった事です。一応「相模原キャンパス」とか目印は入れておいたんですが、きっとご不便をおかけしてしまったと思います。こうなっている理由は、自分の技術力不足です。本当は二つのプルダウンに分けたかったんですけど、無理でした。これはまたの機会にリベンジしたいと思います。<br>
とまあ、詳細はこのくらいです。開発動機から語ると、ずいぶん長くなりますね。卒業旅行費予測AIも是非遊んでみてください。後、アンケートにも協力してくれると嬉しいです😊
                        </p>
                    </td>
                </tbody>
            </table>
        </div>

        <br><br><br><br><br>
    </body>
</html>