<html>
    <head>
        <title>aoyamafes_score</title>
    </head>

    <body>
        <div>
            <h1>青学合格判定予測AI</h1>
            <p>開発者：青学/理工/経シス/2年 奈良駿佑</p>
        </div>

        {% if attention %}
            <div>
                <h3>全ての空欄が埋まっていない/半角数字で入力されていない可能性があります。もう一度やり直してください。</h3>
            </div>
        {% endif %}

        <div>
            <form action="{% url 'score' %}" method="POST">
                {% if not pred %}
                    全ての空欄を選択肢の中から選んで、半角数値で入力してください>
                {% endif %}
                {% for key, value in questions.items %}
                    <p>{{ key }}>{{ value }}
                        <br>
                        <input type="int" name="{{ key }}">
                    </p>
                {% endfor %}
                {% csrf_token %}
                {% if not pred %}
                    <button type="submit">上記のステータスで予測する</button>
                {% endif %}
            </form>
        </div>

        {% if pred %}
            <div>
                <h3>あなたの青学合格判定は {{ pred }} 判定です！</h3>
                <p>もう一度やり直したい場合はブラウザの戻る機能で戻ってね</p>
            </div>
        {% endif %}
    </body>
</html>