{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/detail_css.css' %}">
        <title>aoyamafes_score_detail</title>
    </head>

    <body>
        <div>
            <h1 class="title">青学合格判定予測AIの詳細</h1>
            <p>開発者：青学/理工/経シス/2年 NaRa</p>
        </div>

        <br><br><br>

        <div>
            <table>
                <tbody>
                    <td>
                        <p class="sentence">
                            皆さんこんにちは。NaRa Shunsukeと申します。<br>
このAIは青山祭に展示するために企画・開発したもので、データ収集~モデル作成までとても楽しんで取り組めた作品です。そして、私が作ったAIの中では初めて他者と協力して制作した作品でもあります。<br>
私は青山祭に向けて、サークル活動として何かAIを用いた作品を展示したいと考えていました。特に大学祭の来場者は高校生が主という事から、遥々来ていただいた高校生達に何か提供できないかと考えていました。そこで、「青山祭に来てくれる高校生はもれなく青学受験を視野に入れている筈だ！」と決めつけ、(みんな大好きな)合格判定を予測結果として出すAIを作ったら面白いかな？と考えました。それがこのAIを開発するに至った流れです。今回の青山祭では残念ながら現役青学生限定来場となってしまいましたが、彼らにも、PiedPiper公式HPのnoteから来てくれた人にも楽しんでもらえるような作品になったと思います。<br>
さて、AIモデルを作るとなれば、必要となるのが「データ」です。例えば、ある地域の賃貸の賃料を予測したいとして、部屋の広さが分かっているとします。いくつかの部屋の広さと賃料の組み合わせを見た後、ある部屋の広さ情報を見た時、それを基に「部屋の広さはこれくらいか…だったらこんなもんだろ」って感じで傾向から推測できますよね？この時の部屋の広さと賃料の組み合わせの情報がAI作りに用いるデータです。このデータから機械に傾向を学習させ、予測したい時に賃料を除いたデータを入力することで予測させるんです。…今、「AIって意外と普通な事やってるんだなー
」とか思ったでしょ。AIを魔法か何かだと思ってた人達、残念でした。これが現実です。受け入れてください。<br>
では、今回必要なデータって何でしょうか。つまり、何の情報を基に合格判定を予測するんでしょうか。皆さんお馴染みの合格判定って、模試の点数で出力されますよね？長時間テストを受けて(ご苦労様です)、その解答を基に判定が求められると。でも青山祭において、予測結果を得る為にテスト紛いのものを解いていただくのは色々無理がありますよね。仮に実行できたとしても、大手の模試の精度に勝てるわけが無いし、作りがいがない。だから気軽にできる心理テストの様な感覚で使いたいなーと思うわけです。そこで思いつきました。「学力を材料にして予測するガチの判定じゃなくて、学力以外の要素で判定するバラエティ的なAIにしよう」と。もう皆さんが試してくれた様に、所属してた部活の種類とか、ファッションへの興味の有無だとか、当時の受験生の興味・関心の傾向を用いて予測したら、たとえ悪い判定でもあまり落ち込まないだろうし、むしろ笑ってくれるかなと思いました。<br>
これらの質問内容は全てを一人で考えた訳ではありません。サークルメンバーや同級生、中高時代の旧友から広く意見を集い、その中で面白そうなアイデアを質問文に落とし込みました。中でも、サークルOBから頂いた、社会人になった青学生の特徴(あなたはファッションに興味がありますか？・あなたは周りと合わせるよりも自分の道を突き通す方ですか？・あなたは音楽を聴きながら勉強していましたか？)は興味深く、非常に参考になりました。<br>
ここで気になるのが、「肝心の予測対象である合格判定のデータはどうやって集めたの？」という事でしょう。これはですね、非常に悩みました。殆どの受験生って何かしらの模試を受けていると思うんですけど、その模試の種類が違ったり、あるいはある時期の模試は受けていないという可能性が考えられるのです。これでは対照実験とならず、正当に評価するのが難しくなります。そこで、厳密さを求めるのはやめました。つまり、「最後に受けた模試の判定」を予測結果にする事に決めました。こうする事で模試の種類は何でもいいし、受けた時期もまばらでいい。…まあ、上記の理由で厳密で公平な合格判定が出せないという事は明らかですが、こうするより他に思いつきませんでした。許してください。<br>
さて、いよいよ質問が決まったら、次はデータ収集のターンです。俺はTwitter、Instagram、LINEを生贄に捧げ、Googleアンケートを特殊召喚しました。これでターンエンドです。思った以上に協力してくれる人が多く、目標が100人だった所を130人も回答していただきました。ご協力ありがとうございました。<br>
ようやくアルゴリズムの話に移ります。今回は学習データが130件と非常に少ないため、データが少なくてもそこそこの効果を発揮してくれるアルゴリズムを選ぶ必要がありました。それに着目して調べたところ、ナイーブベイズという手法に辿り着きました。これは、ベイズの定理という確率論の考え方に基づいて、あるデータが何のカテゴリーに分類されるかを確率計算して判定するというものです。これの特徴の一つに、データが少なくてもある程度機能するというものがあります。ナイーブベイズの中に、結果が複数ある場合に使えるものがあったため、それを採用しました。詳しくはググってください。後、一応ロジスティック回帰とサポートベクターマシン(svm)というアルゴリズムでも学習させ、予測結果の多数決を取るようにしてみたところ、一見予測精度が向上しました。が、良く見てみるとsvmの出力がC判定かE判定しか無く、全て平均的な出力になる為に見かけ上精度が上がっていると分かり、やっぱり不採用にしました。やったね。<br>
さて、肝心の予測精度ですが、これはMAE(Absolute Mean Error)とRMSE(Root Mean Square Error)いう指標で評価しています。MAEは簡単に説明すると、テストデータで試しに予測した結果と正解が平均的にどれだけ離れていたのかを表す指標です。対してRMSEは、大きい誤差に敏感に反応して値が大きくなるので、どの程度予測がバラついているのかを見ることができます。残念ながらこの二つはトレードオフの関係なのですが、これらの値が総合的に小さい程、誤差が少ない良い予測結果という事ですね。このAIの予測精度は…MAE:1.19、RMSE:1.67です！つまり、毎回ワンランク位ズレてるって事ですね…。ちなみにドンピシャで当たっている確率は、当てずっぽうの2倍あります。つまり、約4割ですね。でも調整する前とかは26%とかだったので、大きな進歩だと思います()。<br>
この様にしてモデルが無事(?)に完成した訳ですが、昨年の青山祭がオンラインでの開催となってしまい、折角の作品があまり見てもらえないという悲しい事態を経験していた事から、(当時作り方とか全く分からなかったけど)Webアプリにして公開する事で広く見てもらえる様にしよう！という案が浮上しました。初めは「うぇぶあぷりづくりってなんかむずかしそう」という漠然とした感想の下で勉強していたので、正直インターネット上で公開するまで辿り着けないと思ってたし、ダメそうならすぐに止めようと思ってました。でも、何か思ったより簡単にいけましたね。皆さんも興味なかった分野のプログラミングする時、思ったより何とかなるし楽しいと思うので、とにかく手を出してみる事はかなりオススメです。マジで。話を戻しますが、そのような経緯で今皆さんがこの画面を見れている訳です。科学の力ってスゲー！<br>
はい。これでこのAIの詳細説明は終わりです。多分皆さん最初にこれで遊んでくれると予測していたので、Webアプリ制作の話も書きました。皆さんもご縁があれば、私と一緒にAIアプリ作りしましょう。多分その頃にはもっと理論の方を勉強して、上記のようなふざけた説明よりは多少マシに書ける様になっているはずですから()<br>
ところで、このWebアプリの最初の画面にアンケートがあるのですが、先頭の文字に数字があります。これは、先頭の文字だけ残して切り取る事で集計しやすくする工夫なんですよ。皆さんのご協力お待ちしてます。ちなみに感想の方は集計とかではなく、単純に読みたいからです。書いてくれると嬉しいです🐦
                        </p>
                    </td>
                </tbody>
            </table>
        </div>

        <br><br><br><br><br>
    </body>
</html>