{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/score.css' %}">
        <title>aoyamafes_score</title>
    </head>

    <body>
        <div>
            <h1>青学合格判定予測AI</h1>
            <p>開発者：青学/理工/経シス/2年 NaRa</p>
        </div>

        {% if attention %}
            <div>
                <h3>全ての空欄が埋まっていない可能性があります。もう一度やり直してください。</h3>
            </div>
        {% endif %}

        <div>
            <form action="{% url 'score' %}" method="POST">
                {% if not pred %}
                    全ての設問を選択肢の中から選んで、該当するステータスのラジオボタンを押してください>
                {% endif %}
                {% for key, value in questions.items %}
                    <p>{{ key }}>
                        <br>
                        {% for radio in value %}
                            <label for="{{ key }}"><input type="radio" name="{{ key }}", value={{forloop.counter0}} , style="width:15px;height:15px"></label>
                            {{ radio }}
                        {% endfor %}
                    </p>
                {% endfor %}
                {% csrf_token %}
                {% if not pred %}
                    <button type="submit", style="width:200px;height:100px">上記のステータスで予測する</button>
                {% endif %}
            </form>
        </div>

        {% if pred %}
            <div>
                <h3>あなたの青学合格判定は {{ pred }} 判定です！</h3>
                <p>※あくまでジョークAIアプリなので、本命の人は気にしすぎないようにね</p>
                <p>※もう一度やり直したい場合はブラウザの戻る機能で戻ってね</p>
            </div>

            <div>
                <a href="score_detail/">このAIの詳細はこちら</a>
            </div>
        {% endif %}
    </body>
</html>