{% load static %}

<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/detail_css.css' %}">
        <title>aoyamafes_travel_detail</title>
    </head>

    <body>
        <div>
            <h1 class="title">卒業旅行費予測AIの詳細</h1>
            <p>開発者：青学/理工/経シス/2年 NaRa</p>
        </div>

        <div>
            <table>
                <tbody>
                    <td>
                        <p class="sentence">
                            皆さんこんにちは。NaRa Shunsukeです。<br>
恐らくこれを最後に遊ぶ人が多いと思うので、種々の説明を割愛しますね。<br>
このAIはスクレイピング・AIモデリングに慣れ始めた段階で作ったものです。なので、入力変数の数が膨大になっております。いやー調子に乗りましたね。作っている最中は「変数が多いと予測が億劫になる」とは考えなかったものですから、良い勉強になりました() 下宿先賃料予測AIの詳細でも書いたかもしれないんですが、そもそもこれらのAIは人様に公開する予定とか無かったんで、若干の使いづらさは許容していただきたい。<br>
このAIを作るにあたって、トラベルjp様のサイトからスクレイピングしたデータを使用しました。下宿先賃料予測AIの詳細でも説明した通り、著作権法・利用規約等の条件を全て確認し、どれにも抵触しないと判断した為、これらのデータを機械学習に利用しました。問題点があればすぐにアンケートからご指摘いただきたい。こちら側で確認し、公開終了等の措置を早急に取らせていただきます。<br>
さて、連絡事項が終わった所で説明を始めます。如何せん変数が多いので、作業は長引きました。取得時は一つの列に選択肢が詰まっていたという感じなのですが、それをバラバラにして一つの質問にした訳です。そのおかげで、最初は18個しかない(?)質問も倍以上になってしまいました…でも楽しかったのでOKです。<br>
そんな感じで上手くデータを綺麗にして、LightGBMにブチ込みました。その結果、予測精度スコアはMAE: 7115、RMSE: 27232となり、大体1予測あたり8000円程度のズレがあるという感じになりました。…皆さんこう思われたと思います。「下宿先賃料予測AIの時はMAE: 0.79、RMSE: 2.01で自信アリだったのに、今回の精度で自信ナシなのはおかしくない？」と。これね、理由があります。一つめはRMSEの値ですね。RMSEは予測のバラツキを表すと説明しましたが、単位換算で7000円分違うと全然バラツキ変わりますよ。びっくりするぐらいズレてる時もあります。なので自信がないという感じですね。次に、個人的な感想ですが、家賃8000円ズレてるのと旅行費8000円ズレてるのでは後者の方が困り度が高いかなと思いました。賃貸契約よりも旅行の方が簡単に実行できる分、気軽に実行→お金足りないというリスクを引き起こしやすいと考え、自信ナシとさせていただきました。まあ、最終的には皆さんちゃんとリサーチして決めるでしょうけどね()<br>
ひとしきり説明し終わりました。全部遊んでくれた皆様、誠にありがとうございました。AIとしては勿論、Webアプリとしても不完全な作品だと感じた方も多いでしょうが、初めてAIモデルを作成してみたり、Webアプリを作ってみたり、それをネット上で公開する事に挑戦した事を誇りに思います。次はもっと面白くてHigh Qualityなアプリを作りたいです。今年受験生で青学志望の方は、来年サークルでお待ちしております。多分。<br>
あ、アンケート書いてね🐦→<a class="upper" href='https://forms.gle/VFCdQeDEH2gAtPrd6'>https://forms.gle/VFCdQeDEH2gAtPrd6</a>


                        </p>
                    </td>
                </tbody>
            </table>
        </div>

        <br><br><br><br><br>
    </body>
</html>