h2 a {
    color: #000000;
    text-align: center;
}
h3 a {
    color: #ffffff;
    text-align: center;
}

.white {
    color:#ffffff;
}
.black {
    color:#000000;
}

.developer {
    text-align: right; 
    font-size: 16px;
    color: #ffffff;
}

.title {
    text-align: left;
    color: #ffffff
}

.title1 {
    color: #ffffff;
    font-size: 100px;
}
.title2 {
    color: #000000;
    font-size: 100px;
}
.title3 {
    color: #000000;
    font-size: 100px;
}
.title4 {
    color: #ffffff;
    font-size: 80px;
}
.title5 {
    color: #000000;
    font-size: 80px;
}
.title6 {
    color: #ffffff;
    font-size: 100px;
}
.title7 {
    color: #000000;
    font-size: 100px;
}
.title8 {
    color: #ffffff;
    font-size: 100px;
}
.title9 {
    color: #ffffff;
    font-size: 50px;
}

.lu {
    background-color: #000000;
    background-size: cover;
}
.ru {
    background-color: #ffffff;
    background-size: cover;
}
.ld {
    background-color: #ffffff;
    background-size: cover;
}
.rd {
    background-color: #000000;
    background-size: cover;
}

table,
td {
    border: 1px solid rgb(0, 0, 0);
    border-collapse: separate;
    border-spacing: 0px 0px;
    text-align: center; 
    color: #ffffff
}

thead,
tfoot {
    background-color: rgb(126, 126, 126);
    color: rgb(31, 151, 57);
}

table {
    height: 100%;
    width: 100%;
    table-layout: fixed;
}